.add-recipe-modal{
  position: fixed;
  background-color: orange;
  /* z-index: 2000; */
  right:25%;
  top:26vh;
  width:35%;
  padding:14px;
  border-radius: 8px;
  animation: popModal .5s ease-out;
}
.add-recipe-background{
  height:100%;
  width:100%;
  background-color:rgba(0, 0, 0, 0.62);
  text-align:center;
  background-size:cover;
  position: absolute;
  left:0;
  top: 0;
  /* z-index: 1000; */
}
.recipe-name-input{
  margin:auto;
  height:40%;
  width:90%;
  font-size: 5vw;
}
.step-name-input{
    margin:auto;
    height:30%;
    width:90%;
    font-size:3vw;
    margin-bottom:1vh;
}
.modal-controls{
  display:flex;
  justify-content: space-between;
}
@keyframes popModal {
  0%{
    opacity: 0;
    transform:translateY(-100px);
  }

  80%{
    transform:translateY(10px);
  }

  100%{
    opacity:1;
    transform:translateY(0);
  }
}
