.dashboard{
  margin-top:100px;
  height:100vh;
  border:1px solid red;
  padding:0px 20px;
}
.user-recipe{
  width:100%;
}

.follower-recipe{
  background-color:rgb(136, 136, 136);
}

h2{
  padding:5px;
}
