.recipe-modal-body{
  padding:0px 15px;
}

.recipe-modal-body h3{
  font-size: 2.4em;
  margin:10px 0px;
}
.recipe-modal-body h4{
  font-size: 1.4em;
  font-weight: 500;
  margin:5px 0px;
  display: inline-block;
  margin-right: 30px;
}
.recipe-blurb{
  display: inline-block;
  width: 90%;
  height: 25px;
  font-weight: 100;
  font-size: 1.2em;
  margin:10px 0;
}

.recipe-type{
  display: inline-block;
  font-weight:200;
}
.recipe-steps-header{
  width:100%;
}
.recipe-steps{
  border-left: 1px solid grey;
  margin-left: 15px;
  padding-left: 10px;
  font-size: 1.3em;
  font-weight: 500;
}

.recipe-steps li{
  margin:14px 0px;
}
.recipe-modal-author{
  display: inline-block;
  text-align: right;
  width: 100%;
  padding-right: 10px;
}
