.recipe-spread{
  list-style: none;
  display:flex;
  width:100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  appearance:none;
}

.recipe-card{
  display:grid;
  border-radius: 4px;
  background:white;
  width:250px;
  height:300px;
  margin-right: auto;
  margin-left:auto;
  margin-bottom:24px;
  grid-template-columns: repeat(6,1fr);
  grid-gap:1px;
  grid-template-rows: repeat(7,1fr);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
}
.card-deco{
  grid-column:1/7;
  grid-row: 1/2;
  background-color:	rgb(186,255,201);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.card-content{
  padding-left: 12px;

}
.card-recipename{
  font-size:1.6em;
  display: block;
  grid-column:2/6;
  grid-row: 3/5;
  margin-bottom: 15px
}
.card-type{
  font-weight:100;
  font-size:0.9em;
  padding:0;
  grid-column: 2/3;
  grid-row: 2;
}

.card-blurb{
  font-weight: 400;
  font-size: 0.80em;
  grid-row: 5;
  grid-column:2/4
}
.card-controls{

  color: white;
  background-color:;
  grid-column: 2/3;
  width:10%;
  grid-row: 6;
  margin-left: 15px;
}
.card-view-recipe{
  color: white;
  font-size: 1.4em;
  border-radius: 6px;
  width:140px;
  height:40px;
  background:rgb(186,255,201);
  border:none;
  margin-top: 12px;
}
@media only screen and (min-width: 900px) and (min-height:690px) {
  .recipe-card{
    margin-right: 35px;
    margin-left:0;
   }
/*
.recipe-spread > ul{
    margin:0px;
  } */

}
